@import "./general";
@import "./variables";

header {
  background: url(/images/hero-2.jpg) no-repeat center center/cover;
  padding-bottom: 4rem;
  height: 100vh;

  .nav-content {
    background-color: $white;
  }

  nav {
    @include flex(space-between);
    padding: 1rem 0;
  
    ul {
      @include flex(space-between);
  
      a {
        font-weight: 500;
        transition: all ease 0.3s;
        &:link {
          color: $navlink;
        }
        
        &:active {
          color: $navlink;
        }
  
        &:hover {
          color: $btnColor
        }
        
        &:focus {
          color: $btnColor
  
        }
      }
    }
  
    .btn {
      &-contact {
        @include btn($btnColor);
        color: $white;
        transition: all ease 0.3s;
        cursor: pointer;
      }
  
      &-contact:hover {
        background-color: $background;
      }
    }
  }

  .header-text {

  }
}